@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  justify-items: space-between;
  display: flex;
  height: calc((var(--vh, 1vh) * 100));
  font-family: "Roboto";
  color: "#FFFFFD";
}

@font-face {
  font-family: 'vela-sans';
  font-style: normal;
  font-weight: 400;

  src: 
    url("/public/fonts/VelaSans-Regular.ttf"),
    url("/public/fonts/VelaSans-Regular.woff") format('woff'),
    url("/public/fonts/VelaSans-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'vela-sans-bold';
  src: 
    url("/public/fonts/VelaSans-Bold.ttf"),
    url("/public/fonts/VelaSans-Bold.woff") format('woff'),
    url("/public/fonts/VelaSans-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'vela-sans-medium';
  src: url("/public/fonts/VelaSans-Medium.ttf");
  src: url("/public/fonts/VelaSans-Medium.woff");
  src: url("/public/fonts/VelaSans-Medium.woff2");
}

h1
{
  font-family: 'vela-sans', "Arial", sans-serif;
}

h3{
  font-family: 'vela-sans', "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inset-left-bar-shaddow
{
  box-shadow: inset 5px 0 currentColor;
}

.styled-scroll::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  height: 8px;
}

.styled-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.styled-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #BCBCBC;
}

.styled-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

.styled-scroll::-webkit-resizer {
  background-repeat: no-repeat;
  width: 8px;
}

.styled-scroll::-webkit-scrollbar {
  transition: all 0.2s ease-in-out;
  width: 8px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 8px 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.ant-table-row:hover {
  cursor: pointer;
}

.bg-wrapper {
  padding: 20px 10px;
  background: #fff;
  min-height: 50vh;
}

.order-title-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(239, 242, 246, var(--tw-bg-opacity));
}

.order-title {
  margin-bottom: 10px;
}

.order-content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.order-content-wrapper .order-content-left,
.order-content-wrapper .order-content-right {
  width: 50%;
}

.order-content-wrapper .products {
  padding-top: 10px;
}

.products-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 5px;
}

.product-title {
  color: #08c;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  margin-top: 10px;
}

.total-cost {
  margin-top: 15px;
  font-size: 18px;
}